# .idea folders are kept intentionally
# not .vscode tho
.vscode
# macOS moment
.DS_Store

# cs110
__pycache__

# cs210
*.class

# cs3013
*.o
*.dSYM
prolific
generation
wgp
mmu
disk.txt
scheduler
tests-out
